{# {{ dump(news) }} #}
{# {% if news is defined %}
  {% set news1 = [] %}
  {% set news1 = news1|merge(news) %}
  {{ dump(news1) }}
{% endif %} #}

<aside class="sidebar" {#data-news={{ news1|json_encode|raw }}#}>
    <div class="btns">
      <button class="active">Popular</button>
      <button>Top Rated</button>
      <button>Comments</button>
    </div>
    <div class="sidebar-news">
      <div class="article-container">
        {% for item in news %}
            <article class="sidebar-article">
                <div class="sidebar-text">
                    <p class="sidebar-comments">
                        <img class="comment" src="/var/assets/comment.svg" alt="" /> 5
                    </p>
                    <p class="sidebar-date">{{ item.publishDate | date("F d, Y") }}</p>
                    <a class="sidebar-heading" href={{ path(item) }}>
                        {{ item.title }}
                    </a>
                </div>
                <img class="sidebar-img" src = "{{ item.featuredImage.thumbnail("sidebar") }}"/>
            </article>
        {% endfor %}
      </div>
    </div>
</aside>


