{% extends '/layouts/layout.html.twig' %}

{% block content %}
<div class = "wrapper">
    {{ pimcore_areablock("myAreablock") }}
    <div class="main">
        <div class="categories">
            {{ pimcore_areablock("newsAreablock") }}
            <div class="single-carousels">
                {{ pimcore_areablock("carouselsAreablock") }}
            </div>
        </div>
        <div class="side-content">
            {{ pimcore_snippet('sidebar') }}
            {{ pimcore_areablock("sidebarAreablock") }}
            <div class="side-banners">
                <div class="side-banner"></div>
                <div class="side-banner"></div>
            </div>
            <div class="facebook-banner"></div>
        </div>
    </div>
    {{ pimcore_areablock("galleryAreablock") }}
</div>
{% endblock %}